<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Me</title>    

    </head>

<p>
<strong>PL</strong>

Witam,

Nazywam sie Michal Stepniewski. Skonczylem biofizyke i chemie na Uniwersytecie Jagiellonskim.
Moje zainteresowania to nauka i programowanie jednak ostatnio moj kontakt z uniwersytetem jest sporadyczny :)

Szukam mozliwosci ciaglego rozwoju swoich umiejetnosci i zainteresowan poprzez odpowiadanie na aktualne i adekwatne potrzeby malych grup badawczych zajmujacych sie bioinformatyka i modelowaniem molekularnym a w dalszej przyszlosci takze kolaboratywnego rozwijania malych modularnych narzedzie programistycznych open source, szczegolnie w jezyku python i frameworku django poprez system kontroli wersji bitbucket (git).

Pierwszy projekt stronki powstal wlasnie w tym celu.
</p>

<p>
<strong>ANG</strong>

My name is Michal Stepniewski and I graduated from Biophysics and Chemistry from Jagiellonian University.

</p>