<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About App</title>    

    </head>

<p> 

<strong>PL</strong>
   Bialka blonowe sa brama do komorki i jako takie sa przedmiotem zainteresowania 
biologow strukturalnych jak i farmaceutow.
</p>
<p>
   Niestety krystalizacja bialek blonowych wciaz jest utrudniona w porownaniu do 
bialek globularnych.
</p>
Metody obliczeniowe generuja duza liczbe modeli o roznym
poziomie jakosci.
</p>
 Modele te nalezy ocenic w odniesieniu do zbioru rzeczywistych
struktur elementarnych.
<p>
Ta aplikacja ma na celu umozliwienie takiego porownania. Szczególnie w zakresie
upakowania helis transblonowych. Autorem pomysłu badawczego jest Dr Henri Xhaard z Uniwersytetu w Helsinkach.
</p>

<p>
Ostatecznym celem rozwoju tej aplikacji jest:
Aplikacja zbudowana we frameworku django:
<ol>
<li> Zdolna do uruchomiena na serwerze jak i lokalnie na komputerze uzytkownika.</li>
<li> Zawierajaca baze danych eksperymentalnych struktur białek transbłonowych
możliwą do aktualizacji co wybrany okres czasu przez baze OPM albo
baze znanych struktur bialek błonowych albo baze wybrana/dostarczona przez uzytkownika.</li>
<li> Zawierajaca narzedzia do statystycznej analizy wybranej bazy danych.</li>
<li> Zawierajaca narzedzia do oceniania modeli na tle wybranej bazy danych.</li>
<li> Open Source, latwa do modyfikacji i rozbudowy przez uzytkownika.</li>
</ol>

Jako ze lista feature'ow jest dluga, zapraszam do wspolpracy. Wymagana jest znajomosc
lub chec nauczenia sie pythona i django. Nie mam zadnych funduszy. Moge obiecac
tylko mozliwosc rozwoju i ewentualne cytowania :)

<h3> <strong> Mozliwosci grywalizacji: </strong> </h3>
 
 Grywalizacja mozliwa bedzie po wprowadzeniu mozliwosci takiej modyfikacji struktury modelu w celu
 maksymalizacji jej podobienstwa, ewentualnie takiego dobory parametrow klastrowania, aby
 wynik byl maksymalny. Jest to na razie mozliwosc odlegla.
 
</p>
Reszta informacji zawarta w UserGuide.

 </p>

<p>  
<strong>ANG</strong>
The author of the research idea is Dr Henri Xhaard, from University of Helsinki.

 </p>