<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About App</title>    

    </head>

<p> 

<strong>PL</strong>
Bialka blonowe sa brama do komorki i jako takie sa przedmiotem zainteresowania 
biologow strukturalnych jak i farmaceutow.
Niestety krystalizacja bialek blonowych wciaz jest utrudniona w porownaniu do 
bialek globularnych. Metody obliczeniowe generuja duza liczbe modeli o roznym
poziomie jakosci. Modele te nalezy ocenic w odniesieniu do zbioru rzeczywistych
struktur elementarnych. Ta aplikacja ma na celu umozliwienie takiego porownania.

Reszta informacji w poradniku uzytkownika.

Autorem pomysłu badawczego jest Dr Henri Xhaard z Uniwersytetu w Helsinkach.
 </p>

<p>  
<strong>ANG</strong>
The author of the research idea is Dr Henri Xhaard, from University of Helsinki.

 </p>