<!DOCTYPE html>

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

{% load static %}
{% static "" as baseUrl %}

<table>
 <tr> <td> ID: </td> <td>{{ tmhelix.TMHelix_ID }} </td> </tr>
 <tr> <td>Amino Acid Sequence: </td> <td> {{ tmhelix.TMHelix_AASEQ }}</td></tr>
 <tr style="color: red"> <td> Tilt: </td> <td> {{ tmhelix.TMHelix_Tilt }} DEG </td> </tr>
 <tr style="color: green">  <td> Tilt (Extracellular Leaflet): </td> <td> {{ tmhelix.TMHelix_Tilt_EC }}  DEG</td> </tr>
 <tr style="color: blue">  <td> Tilt (Intracellular Leaflet): </td> <td> {{ tmhelix.TMHelix_Tilt_IC }}  DEG</td> </tr>
 <tr style="color: black">  <td> Kink Angle: </td> <td> {{ tmhelix.TMHelix_KinkAngle }}  DEG</td> </tr>
 <tr style="color: black">  <td> Overhang: </td> <td> {{ tmhelix.TMHelix_Overhang }} A</td></tr>
 <!-- change scale on Overhang -->
 </table>
<!-- <h1> <font color="black"> HelixAtoms: {{ tmhelix.atom_set.show }} A</font> </h1> -->


<h1> {{tmhelix.MC_EC_X |floatformat:2}} </h1>
<h1> {{tmhelix.costam}} </h1>
<img src="{{ baseUrl }}/myapp/static/{{ tmhelix.TMHelix_pdb_path }}/{{tmhelix.TMHelix_ID}}/helisa.png" alt="My image"/>
<div id="glmol01" style="width: 300px; height: 300px; background-color: black;"></div> <textarea id="glmol01_src" style="display: none;">

<!--This is a comment. Comments are not displayed in the browser-->

{{ tmhelix.atom_set.show }}

HETATM 9991  N   MET A   1       0.000   0.000   0.000  1.00 47.11           N  
HETATM 9992  CA  MET A   1       0.000   0.000   4.000  1.00 46.26           C  

CONECT 9991 9992

</textarea>

{% load static %}
{% static "" as baseUrl %}

<script src="{{ baseUrl }}/myapp/static/js/jquery-1.7.min.js"></script>
<script src="{{ baseUrl }}/myapp/static/js/Three49custom.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/myapp/static/js/GLmol.js"></script>
<script type="text/javascript">

// Small molecules can be embedded in the page

var glmol01 = new GLmol('glmol01',false);//  supress autoload set to false gives mol wo cylinders //

// Proteins can also be embedded in the page but 
//  you might want to keep it separate.

var glmol01 = new GLmol('glmol01', true); // supress autoload set to true gives black background //
glmol01.defineRepresentation = function() {
   var all = this.getAllAtoms();
   var hetatm = this.removeSolvents(this.getHetatms(all));
   this.colorByAtom(all, {});
   this.colorByChain(all);
   var asu = new THREE.Object3D();
   
   this.drawBondsAsStick(asu, hetatm, this.cylinderRadius, this.cylinderRadius);
   this.drawBondsAsStick(asu, this.getResiduesById(this.getSidechains(this.getChain(all, ['A'])), [58, 87]), this.cylinderRadius, this.cylinderRadius);
   this.drawBondsAsStick(asu, this.getResiduesById(this.getSidechains(this.getChain(all, ['B'])), [63, 92]), this.cylinderRadius, this.cylinderRadius);
   this.drawCartoon(asu, all, this.curveWidth, this.thickness);

  // LOOK HERE
   this.drawCylinder(asu, new THREE.Vector3(0.0, 0.0, 0.0), new
   THREE.Vector3(0.0, 0.0, 10.0), 10.0, white);

   this.drawSymmetryMates2(this.modelGroup, asu, this.protein.biomtMatrices);
   this.modelGroup.add(asu);
};

//$.get("2DHB.pdb", function(ret) { //
//$("#glmol02_src").val(ret); //
//glmol02.loadMolecule(); //
//}); //
</script>






