 <h1>Helix Pair Stats</h1>

{% load staticfiles %}

{% load static %}
{% static "" as baseUrl %}


 <h1> <font color="red"> Crossing Angle Stats </font> </h1>
<img src="{{ baseUrl }}/myapp/static/Stats/HelixPair/CrossingAngle.png" alt="Main Crossing Angle Histogram"  height="420" />
 <h1> <font color="green"> Crossing Angle Stats (Extracellular Leaflet) </font> </h1>
<img src="{{ baseUrl }}/myapp/static/Stats/HelixPair/CrossingAngleEC.png" alt="Crossing Angle Histogram (Extracellular Leaflet)" height="420" />
 <h1> <font color="blue"> Crossing Angle Stats (Intracellular Leaflet) </font> </h1>
<img src="{{ baseUrl }}/myapp/static/Stats/HelixPair/CrossingAngleIC.png" alt="Crossing Angle Histogram (Intracellular Leaflet)" height="420" />
