<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Guide</title>    

    </head>

<p> 
W obecnym momencie aplikacja umozliwia jednorazowy upload tylko jednej struktury.
(guzik Browse i Upload). 

W chwili obecnej dziala to bardzo wolno z powodu wprowadzenia nowej funkcji.

Mozliwa jest ekstrakcja par(Extract Helix Pairs button)  i trypletow
 (Extract Helix Triplets button) obliczanie parametrow ich upakowania (
 widoczne w odnosniku danej pary lub trypletu).
Mozliwe jest obliczanie statystyki tych parametrow jak i parametrow pojedynczej
helisy. (Calculate ... Stats buttons).

 </p>