<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Guide</title>    

    </head>

<p> 
W obecnym momencie aplikacja umozliwia jednorazowy upload tylko jednej struktury.
(guzik <strong>Browse</strong> i <strong>Upload</strong>). 

W chwili obecnej dziala to bardzo wolno z powodu wprowadzenia nowej funkcji.

Mozliwa jest ekstrakcja par(<strong>Extract Helix Pairs </strong> button)  i trypletow
 (<strong>Extract Helix Triplets</strong> button) obliczanie parametrow ich upakowania (
 widoczne w odnosniku danej pary lub trypletu).
Mozliwe jest obliczanie statystyki tych parametrow jak i parametrow pojedynczej
helisy. (<strong>Calculate ... Stats</strong> buttons).

 </p>