<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TM Helices Calculator</title>	
	</head>

	<body>
		<!-- List of uploaded documents -->
		{% if tmproteins %}
			<ul>
                        {% for TMProtein in tmproteins %}
                                <h1> {{ TMProtein.tmproteinfile.name }} </h1> 



                                {% load static %}
                                {% static "" as baseUrl %}
                                <img src="{{ baseUrl }}/myapp/static/Protein1.png" alt="My image"/>

                                {% if TMProtein.tmhelixmodel_set.all %}
                                    <ul>
                                    <p> Transmembrane Helices: </p>
                                    {% for tmhelix in TMProtein.tmhelixmodel_set.all %}

                                        <li><a href="{% url 'detail' tmhelix.id %}">TM{{ tmhelix.TMHelix_ID }}</a></li>

                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No TMs are available.</p>
                                {% endif %}



			{% endfor %}
                        <li><a href="{% url 'viewer' %}">View</a></li>
                        <li><a href="{% url 'single_helix_stats' %}">SingleHelixStats</a></li>
                        <li><a href="{% url 'embedding' %}">View2</a></li>
			</ul>
		{% else %}
			<p>No TM Protein PDB files loaded</p>
		{% endif %}
                <!-- dodac tu link do viewera -->
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.tmproteinfile.label_tag }} {{ form.tmproteinfile.help_text }}</p>
			<p>
				{{ form.tmproteinfile.errors }}
				{{ form.tmproteinfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
			<p><input type="submit" name="Clear" value="Clear" /></p>
			<p><input type="submit" name="CalculateSingleHelixStats" value="CalculateSingleHelixStats" /></p>
		</form>
		
	</body>

</html> 


