<!DOCTYPE html>

{% load staticfiles %}
{% load poll_extras %}
{% load static %}
{% static "" as baseUrl %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">


    <p>Cluster </p>
    {{centroidpk}}
        <a href="{% url 'triplet' centroidpk %}">{{ centroidpk }}</a>

    <p>Member Count: {{ tmhelixtriplets.count }} </p>
    <p>Cluster RMSD: {{ cluster.RMSD }} </p>
    {% for tmhelixtriplet in tmhelixtriplets %}
    
        <a href="{% url 'triplet' tmhelixtriplet.id %}">{{ tmhelixtriplet.id }}</a>
        
    {% endfor %}

