<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load poll_extras %}


<!--<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"> -->
	<head>
		<meta charset="utf-8">
		<title>TM Helices Calculator</title>	

	</head>


<p> 
            <table>
            <tr>
    <td><a href="{% url 'aboutme' %}"> About Me </a></td>
    <td><a href="{% url 'aboutapp' %}"> About The App </a></td>
    <td><a href="{% url 'userguide' %}"> User Guide </a></td>
    <td><a href="{% url 'contact' %}"> Contact </a></td>
    <td><a href="{% url 'multiple_upload' %}"> MultipleUploadForm </a></td>
    <td><a href="{% url 'database' %}"> Database </a></td>

</tr>

</table>

 </p>


<table>
<tr>
<td>
<div class="fieldWrapper">

<form action="/mail/" method="post">
    <label for="mail">Post Feature Request1: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">

</form>

</div>
</td>
<td>
<form action="/your-name/" method="post">
    <label for="your_name">Membrane Limit (lower): </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
</td>
</tr>
<tr>
<td>
<div class="fieldWrapper">

<form action="/your-name/" method="post">
    <label for="your_name">Method (PCA): </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
</td>
<td>
<form action="/your-name/" method="post">
    <label for="your_name">Method (MC): </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

</div>
</td>
</tr>
</table>
	<body>

        {% if databases %}

        <table>
        <tr>Datasets:</tr>
        {% for database in databases %}

        <tr>
        <td> <a href="{% url 'database' database.id %}">{{ database.name }}</a> </td>
       <td><a href="{% url 'delete_database' database.id %}">Delete</a></td>
       <td><a href="{% url 'clone_database' database.id %}">Clone</a></td>
       <td><a href="{% url 'rename_database' database.id %}">Rename</a></td>

        </tr>
                
        {% endfor %}        
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}



        </form>        
        </table>
        


		<!-- List of uploaded documents -->
			
			<table>
			    <tr>
                        <td><a href="{% url 'viewer' %}">View</a></td>
                        <td><a href="{% url 'single_helix_stats' %}">SingleHelixStats (if calculated)</a></td>
                        <td><a href="{% url 'helix_pair_stats' %}">HelixPairStats (if calculated)</a></td>
                        <td><a href="{% url 'helix_triplet_stats' %}">HelixTripletStats (if calculated)</a></td>
                        <td><a href="{% url 'embedding' %}">View2</a></td>
                </tr>
			</table>
		{% else %}
			<p>No Datasets loaded</p>
		{% endif %}
		
                <!-- dodac tu link do viewera -->
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
        <table>
            <tr>
            <td><input type="submit" name="NewDataset" value="NewDataset" /></td>
            <td><a href="{% url 'new_database' %}">New</a></td>
            </tr>
            </table>
			
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.tmproteinfile.label_tag }} {{ form.tmproteinfile.help_text }}</p>
			<p>
				{{ form.tmproteinfile.errors }}
				{{ form.tmproteinfile }}
			</p>
			<p>Experimental?</p>
			<p><input type='checkbox' name="checkbox" value="checkbox"></p>
			<p><input type="submit" name="UploadProteinFile" value="UploadProteinFile" /><input type="submit" name ="UploadXLSFile"  value="UploadXLSFile" /></p>  
			<!-- button for upload -->
			<p><input type="submit" name="Clear" value="Clear" /></p>
			<table>
			<tr>
			<td><input type="submit" name="CalculateSingleHelixStats" value="CalculateSingleHelixStats" /></td>
			<td><input type="submit" name="CalculateHelixPairStats" value="CalculateHelixPairStats" /></td>
			<td><input type="submit" name="CalculateHelixTripletStats" value="CalculateHelixTripletStats" /></td>
            </tr>
            <tr>
			<td><input type="submit" name="ExtractHelixPairs" value="ExtractHelixPairs" /></td>
            <td><input type="submit" name="ExtractInteractingHelixPairs" value="ExtractInteractingHelixPairs" /></td>

			<td><input type="submit" name="ExtractHelixTriplets" value="ExtractHelixTriplets" /></td>
            <td><input type="submit" name="ExtractInteractingHelixTriplets" value="ExtractInteractingHelixTriplets" /></td>

			</tr>
            <tr>
            <td><input type="submit" name="CalculateAminoAcidZPreferenceHistogram" value="CalculateAminoAcidZPreferenceHistogram" /></td>
            <td><input type="submit" name="ClusterHelixTripletsByRMSD" value="ClusterHelixTripletsByRMSD" /></td>
            </tr>
			<tr>
            <td><input type="submit" name="DownloadResults" value="DownloadResults" /></td>
            </tr>
            </table>
		</form>
        <!-- prawdopodobnie bede chcial to podzielic na kilka formow -->


		
	</body>

</html> 


