<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TM Helices Calculator</title>	

	</head>


<p> 
<ul>
    <li><a href="{% url 'aboutme' %}"> About Me </a></li>
    <li><a href="{% url 'aboutapp' %}"> About The App </a></li>
    <li><a href="{% url 'userguide' %}"> User Guide </a></li>
    <li><a href="{% url 'contact' %}"> Contact </a></li>
    <li><a href="{% url 'contact' %}"> MultipleUploadForm </a></li>

</ul>

 </p>



<div class="fieldWrapper">

<form action="/mail/" method="post">
    <label for="mail">Post Feature Request: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">

</form>

</div>

<form action="/your-name/" method="post">
    <label for="your_name">Membrane Limit (lower): </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

<div class="fieldWrapper">

<form action="/your-name/" method="post">
    <label for="your_name">Method (PCA): </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>


<form action="/your-name/" method="post">
    <label for="your_name">Method (MC): </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

</div>

	<body>


		<!-- List of uploaded documents -->
		{% if tmproteins %}
			<ul>
                        {% for TMProtein in tmproteins %}
                                <li> {{ TMProtein.tmproteinfile.name }}  

                                {% load static %}
                                {% static "" as baseUrl %}
                                <img src="{{ baseUrl }}/myapp/static/Protein1.png" alt="My image"/>


                                {% load static %}
                                {% static "" as baseUrl %}

                                <div id="glmol02" style="width: 300px; height: 300px; background-color: black;"></div> <textarea id="glmol02_src" style="display: none;">

{{ TMProtein.atom_set.show }}

</textarea>

{% load static %}
{% static "" as baseUrl %}

<script src="{{ baseUrl }}/myapp/static/js/jquery-1.7.min.js"></script>
<script src="{{ baseUrl }}/myapp/static/js/Three49custom.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/myapp/static/js/GLmol.js"></script>
<script type="text/javascript">

// Small molecules can be embedded in the page

var glmol02 = new GLmol('glmol02');

// Proteins can also be embedded in the page but 
//  you might want to keep it separate.

var glmol01 = new GLmol('glmol01', true);
glmol01.defineRepresentation = function() {
   var all = this.getAllAtoms();
   var hetatm = this.removeSolvents(this.getHetatms(all));
   this.colorByAtom(all, {});
   this.colorByChain(all);
   var asu = new THREE.Object3D();
   
   this.drawBondsAsStick(asu, hetatm, this.cylinderRadius, this.cylinderRadius);
   this.drawBondsAsStick(asu, this.getResiduesById(this.getSidechains(this.getChain(all, ['A'])), [58, 87]), this.cylinderRadius, this.cylinderRadius);
   this.drawBondsAsStick(asu, this.getResiduesById(this.getSidechains(this.getChain(all, ['B'])), [63, 92]), this.cylinderRadius, this.cylinderRadius);
   this.drawCartoon(asu, all, this.curveWidth, this.thickness);

   this.drawSymmetryMates2(this.modelGroup, asu, this.protein.biomtMatrices);
   this.modelGroup.add(asu);
};

$.get("2DHB.pdb", function(ret) {
$("#glmol01_src").val(ret);
glmol01.loadMolecule();
});
</script>
<p>  </p>


                                {% if TMProtein.tmhelixmodel_set.all %}
                                    <ul>
                                    <p> Transmembrane Helices: </p>
                                    {% for tmhelix in TMProtein.tmhelixmodel_set.all %}

                                        <li><a href="{% url 'helix' tmhelix.id %}">TM{{ tmhelix.TMHelix_ID }}</a></li>

                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No TMs are available.</p>
                                {% endif %}

                                {% if TMProtein.tmhelixpair_set.all %}
                                    <ul>
                                    <p> Pairs of Transmembrane Helices: </p>
                                    <p> Consecutive: </p>
                                    {% for tmhelixpair in TMProtein.tmhelixpair_set.all %}

                                        <li><a href="{% url 'pair' tmhelixpair.id %}">TMs: {% for tmhelix in tmhelixpair.tmhelixmodel_set.all %} {{ tmhelix.TMHelix_ID }} {% endfor %} </a></li> 

                                    {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if TMProtein.tmhelixtriplet_set.all %}
                                    <ul>
                                    <p> Triplets of Transmembrane Helices: </p>
                                    <p> Consecutive: </p>
                                    {% for tmhelixtriplet in TMProtein.tmhelixtriplet_set.all %}

                                        <li><a href="{% url 'triplet' tmhelixtriplet.id %}">TMs: {% for tmhelix in tmhelixtriplet.tmhelixmodel_set.all %} {{ tmhelix.TMHelix_ID }} {% endfor %} </a></li>

                                    {% endfor %}
                                    </ul>
                                {% endif %}
<p> </p>                                
                                {% load static %}
                                {% static "" as baseUrl %}

{% load static %}
{% static "" as baseUrl %}

<script src="{{ baseUrl }}/myapp/static/js/jquery-1.7.min.js"></script>
<script src="{{ baseUrl }}/myapp/static/js/Three49custom.js"></script>
<script type="text/javascript" src="{{ baseUrl }}/myapp/static/js/GLmol.js"></script>
<script type="text/javascript">

// Small molecules can be embedded in the page

var glmol02 = new GLmol('glmol02');

// Proteins can also be embedded in the page but 
//  you might want to keep it separate.

var glmol01 = new GLmol('glmol01', true);
glmol01.defineRepresentation = function() {
   var all = this.getAllAtoms();
   var hetatm = this.removeSolvents(this.getHetatms(all));
   this.colorByAtom(all, {});
   this.colorByChain(all);
   var asu = new THREE.Object3D();
   
   this.drawBondsAsStick(asu, hetatm, this.cylinderRadius, this.cylinderRadius);
   this.drawBondsAsStick(asu, this.getResiduesById(this.getSidechains(this.getChain(all, ['A'])), [58, 87]), this.cylinderRadius, this.cylinderRadius);
   this.drawBondsAsStick(asu, this.getResiduesById(this.getSidechains(this.getChain(all, ['B'])), [63, 92]), this.cylinderRadius, this.cylinderRadius);
   this.drawCartoon(asu, all, this.curveWidth, this.thickness);

   this.drawSymmetryMates2(this.modelGroup, asu, this.protein.biomtMatrices);
   this.modelGroup.add(asu);
};

$.get("2DHB.pdb", function(ret) {
$("#glmol01_src").val(ret);
glmol01.loadMolecule();
});
</script>                                

<!-- musze poeksperymentowac z tym scriptem -->

<!--Protein Atoms: {{ TMProtein.atom_set.show }}-->
            <p><input type="submit" name="Score" value="Score" /></p>
<p> Score: {{TMProtein.getScore}} </p>
</li>


			{% endfor %}
                        <li><a href="{% url 'viewer' %}">View</a></li>
                        <li><a href="{% url 'single_helix_stats' %}">SingleHelixStats (if calculated)</a></li>
                        <li><a href="{% url 'helix_pair_stats' %}">HelixPairStats (if calculated)</a></li>
                        <li><a href="{% url 'helix_triplet_stats' %}">HelixTripletStats (if calculated)</a></li>
                        <li><a href="{% url 'embedding' %}">View2</a></li>
			</ul>
		{% else %}
			<p>No TM Protein PDB files loaded</p>
		{% endif %}
                <!-- dodac tu link do viewera -->
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.tmproteinfile.label_tag }} {{ form.tmproteinfile.help_text }}</p>
			<p>
				{{ form.tmproteinfile.errors }}
				{{ form.tmproteinfile }}
			</p>
			<p>Experimental?</p>
			<p><input type='checkbox' name="checkbox" value="checkbox"></p>
			<p><input type="submit" value="Upload" /></p>  
			<!-- button for upload -->
			<p><input type="submit" name="Clear" value="Clear" /></p>
			<p><input type="submit" name="CalculateSingleHelixStats" value="CalculateSingleHelixStats" /></p>
			<p><input type="submit" name="CalculateHelixPairStats" value="CalculateHelixPairStats" /></p>
			<p><input type="submit" name="CalculateHelixTripletStats" value="CalculateHelixTripletStats" /></p>
			<p><input type="submit" name="ExtractHelixPairs" value="ExtractHelixPairs" /></p>
			<p><input type="submit" name="ExtractHelixTriplets" value="ExtractHelixTriplets" /></p>
			<p><input type="submit" name="DownloadResults" value="DownloadResults" /></p>
		</form>



		
	</body>

</html> 


